body{
    background: #eee;
}

.login-form{
    border: solid gray 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
}

.btnsubmit{
    padding: 5px;
    margin-left: 69%;
}

.moviebox{
    border:1px solid #333;
    background-color:#f1f1f1; 
    border-radius:5px;
    padding:16px;
    align-content: center;
}

.addbutton{
    margin-top:5px;
    margin-bottom:7px;
}

.gotocart{
    padding-left: 40px;
}